# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.ادابتير ديزاين باترين.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\h--sa\RiderProjects\ادابتير ديزاين باترين\.idea\.idea.ادابتير ديزاين باترين\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
